format = """
$username\
$hostname\
$directory\
$git_branch\
$git_state\
$status\
$cmd_duration\
$line_break\
$character"""

[directory]
fish_style_pwd_dir_length = 1 # shorten prefix directories like fish

